﻿
<footer id="footer">
    @using (var b = BootLayout().Begin(new Layout().CssClass("container")))
    {
        using (var row = b.AddRow("sections"))
        {
            using (var c = row.AddCell(CellSpace.M, 4, "recent_posts"))
            {
                <h3 class="footer_header">Our sites</h3>
                <div class="post">
                    <ul>
                        <li><a href="/">Boot Project main site</a></li>
                        <li><a href="/">Business website</a></li>
                        <li><a href="/">Development website</a></li>
                    </ul>
                </div>
            }
            using (var c = row.AddCell(CellSpace.M, 4, "testimonials"))
            {
                <h3 class="footer_header">Testmonials</h3>
                <div class="wrapper">
                    <div class="quote">
                        <span>“</span>
                        There are reasons why you should build websites for peoples and not for computer, computer cannot see, peoples do.
                        <span></span>
                    </div>
                    <div class="author">
                        <span class="glyphicon glyphicon glyphicon-user user"></span>
                        <div class="name">Rickard Magnusson</div>
                        <div class="info">
                            Boot Project Developer
                        </div>
                    </div>
                </div>
            }
            using (var c = row.AddCell(CellSpace.M, 4, "contact"))
            {
                <h3 class="footer_header">Contact</h3>
                <form action="#" method="post">
                    <input type="text" placeholder="Your name" />
                    <input type="text" placeholder="Your email" />
                    <textarea rows="3" placeholder="Message"></textarea>
                    <input type="submit" value="Send" />
                </form>
            }
        }
        using (var row = b.AddRow("social"))
        {
            using (var c = row.AddCell(CellSpace.M, 12))
            {
                <div class="copyright">
                    <div class="col-md-12">
                        &copy; 2014 - <em> (c) All rights reserved Boot Project www.boot.se</em><br />
                    </div>
                </div>
            }
        }
        using (var row = b.AddRow())
        {
            using (var c = row.AddCell(CellSpace.M, 12))
            {
                <p><!--Space--></p>
            }
        }
    }
</footer>