﻿@model Boot.Templating.Web.Models.ContactForm

@using (var b = Html.BootLayout().Begin(new Layout())) {

    using (var row = b.AddRow())
    {
        using (var cell = row.AddCell(CellSpace.M, 6)) 
        { 
                <h2>Contact Us</h2>
                <p>Name</p>
                @Html.TextBox("txtName")
               <p>Name</p>
                @Html.TextBox("txtEmail")
               <p>Name</p>
                @Html.TextArea("txtMessage")
                
                <input type="button" class="btn" value="Send" />
        }
    }
}