﻿@model Boot.Templating.Web.Models.Contact

<div class="col-sm-5 contacts">
    <div class="contact">
        <div class="name">
            @Model.Name
        </div>
        <div class="email">
            <a href="mailto:@Model.Email">@Model.Email</a>
        </div>
        <div class="phone">Phone: @Model.Phone</div>
    </div>
</div>


