﻿body {
}

    body.pull_top {
        padding-top: 0 !important;
    }

.row .test{
    background: #eee;
    margin: 3px;
    padding: 2px 0;
    text-align: center;
}

blockquote p {
    font-weight: normal !important;
}

.contacts{
    margin-bottom: 10px;
}

.logo {
    margin-right: 10px;
}

.nav-pills li a {
    background: #f2f2f2;
    color: #b5b5b6;
}

    .nav-pills li a:hover {
        background: #59bfef;
        color: #fff;
    }

        .nav-pills li a:hover .badge {
            background: #fff;
            color: #59bfef;
        }


.container {
    max-width: 900px;
    margin-top: 90px;
}

.jumbotron {
    
    background: rgb(82,200,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(82,200,255,1) 0%, rgba(89,191,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,200,255,1)), color-stop(100%,rgba(89,191,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(82,200,255,1) 0%,rgba(89,191,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(82,200,255,1) 0%,rgba(89,191,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(82,200,255,1) 0%,rgba(89,191,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(82,200,255,1) 0%,rgba(89,191,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52c8ff', endColorstr='#59bfef',GradientType=0 ); /* IE6-9 */
}

    .jumbotron h2, .jumbotron p {
        color: #fff;
    }

    .jumbotron .glyphicon {
        font-size: 150px !important;
        padding-left: 25px;
        margin-right: -20px;
        margin-top: -60px;
    }


.navbar {
    padding: 10px 0px 10px 0px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

    .navbar.navbar-static-top .container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar .nav > li > a {
        font-size: 13px;
        font-weight: bold;
        color: #3e3e40;
        opacity: .6;
        filter: alpha(opacity=100);
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        padding: 10px 15px 0;
        text-decoration: none;
    }

        .navbar .nav > li > a:hover, .navbar .nav > li > a:active {
            color: #c4c4c4;
            opacity: 1;
            filter: alpha(opacity=100);
        }

    .navbar .nav > li.active > a {
        color: #fff;
        opacity: 1;
        filter: alpha(opacity=100);
        background-color: transparent;
    }


    .navbar.sticky {
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
        padding-bottom: 0 !important;
    }

        .navbar.sticky .container {
            margin-top: -5px !important;
            margin-bottom: 0 !important; /*Animated*/
            padding-bottom: 0 !important;
        }

        .navbar.sticky .def {
        }

    .navbar .container {
        margin-top: 5px;
        margin-bottom: 5px; /*Default*/
        -webkit-transition: margin .2s ease-in-out;
        -moz-transition: margin .2s ease-in-out;
        transition: margin .2s ease-in-out;
    }

        .navbar .container .navbar-header .navbar-brand {
            color: #777E83;
            font-size: 20px;
            margin-left: -20px;
            padding: 10px 20px 10px;
        }

        .navbar .container .collapse .nav .dropdown .caret {
            margin-bottom: 4px;
        }

        .navbar .container .collapse .nav .dropdown .dropdown-menu {
            background: #fff;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            margin-top: 2px;
        }

            .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
            }

                .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
                    background: #59bfef;
                }

#footer {
    min-height: 260px;
    margin-top: 140px;
    background-color: #252528;
    margin-bottom: -20px;
    color: #fff;
    padding-top: 35px;
}

    #footer .footer_header {
        color: #c4c4c4;
        font-style: italic;
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 0px;
        margin-left: 25px;
    }

    #footer .container{
        margin-top: 0;
    }

    #footer .recent_posts {
        margin-left: 0px;
    }

        #footer .recent_posts .post {
            margin-bottom: 70px;
            width: 93%;
        }

            #footer .recent_posts .post ul {
                list-style: none;
                margin: 0px;
            }

            #footer .recent_posts .post li a {
                display: block;
                color: #fff;
                line-height: 30px;
                border-bottom: 1px solid #3e3e40;
            }

                #footer .recent_posts .post li a:hover {
                    color: #b5b5b6;
                    text-decoration: none;
                }

            #footer .recent_posts .post img {
                float: left;
                margin-right: 20px;
            }

            #footer .recent_posts .post .date {
                font-weight: bold;
                font-style: italic;
            }

            #footer .recent_posts .post .title {
                display: block;
                color: #b5b5b6;
                font-size: 14px;
            }

    #footer .testimonials .wrapper {
        margin: 0 auto;
        width: 82%;
    }

    #footer .testimonials .footer_header {
        margin-left: 30px;
    }

    #footer .testimonials .quote {
        color: #bfbfc0;
    }

        #footer .testimonials .quote span {
            font-size: 32px;
            font-style: italic;
            position: relative;
            top: 5px;
            float: left;
            margin-right: 8px;
        }

    #footer .testimonials .author {
        margin-top: 40px;
    }

        #footer .testimonials .author img {
            float: left;
            margin-right: 15px;
            position: relative;
            top: -6px;
        }

    #footer .testimonials .name {
        font-size: 13px;
        font-weight: bold;
    }


    #footer .testimonials .user {
        font-size: 30px;
        font-weight: bold;
    }


    #footer .testimonials .info {
        font-style: italic;
        color: #ccc;
    }

    #footer .contact {
        text-align: right;
    }

        #footer .contact .footer_header {
            text-align: left;
            margin-left: 35px;
        }

        #footer .contact input[type="text"], #footer .contact textarea {
            border: none;
            background-color: #1f1f21;
            color: #868687;
            padding: 8px 20px;
            border-radius: 3px;
            font-size: 14px;
            width: 95%;
            -webkit-transition: background-color .2s linear;
            -moz-transition: background-color .2s linear;
            margin-bottom: 10px;
        }

            #footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
                border: none;
                box-shadow: none;
                background-color: #000;
            }

            #footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder {
                color: #868687;
            }

            #footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder {
                color: #868687;
            }

            #footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
                color: #868687;
            }

        #footer .contact input[type="submit"] {
            background-color: #3e3e40;
            border: none;
            color: #fff;
            border-radius: 4px;
            padding: 5px 20px;
            font-size: 14px;
            font-weight: bold;
            -webkit-transition: background-color .2s linear;
            -moz-transition: background-color .2s linear;
        }

            #footer .contact input[type="submit"]:hover {
                background-color: #2190DB;
            }

    #footer .credits {
        padding: 20px 0px 70px 0px;
    }

        #footer .credits .social {
            margin-top: 30px;
            text-align: center;
        }

            #footer .credits .social a {
                margin: 10px;
            }

                #footer .credits .social a span {
                    display: inline-block;
                    width: 33px;
                    height: 33px;
                }

                #footer .credits .social a:hover span.socialicons {
                    display: none;
                }

                #footer .credits .social a:hover span.socialicons_h {
                    display: inline-block !important;
                }

            #footer .credits .social span.socialicons_h {
                display: none;
            }

        #footer .credits .copyright, .copyright .col-md-12 {
            color: #a6a6a7;
            font-style: italic;
            text-align: center;
            margin-top: 30px;
        }

        #footer .credits .socialicons {
            width: 265px;
            height: 36px;
        }

        #footer .credits .socialicons_h {
            width: 265px;
            height: 36px;
        }

    #footer .info {
        margin-bottom: 10px;
        margin-left: 0;
    }

        #footer .info .residence {
            margin-left: 0;
        }

        #footer .info ul {
            margin: 0;
            padding: 0;
        }

            #footer .info ul li {
                list-style: none;
                font-size: 16px;
                color: #777E83;
                line-height: 23px;
            }

            #footer .info ul a {
                color: #777E83;
                -webkit-transition: color .2s;
                -moz-transition: color .2s;
                -ms-transition: color .2s;
                transition: color .2s;
            }

                #footer .info ul a:hover {
                    color: #A9B4BB;
                }

        #footer .info .touch {
            float: right;
        }

            #footer .info .touch ul li {
                display: inline-block;
                margin-left: 22px;
            }