<p><img src="res/Boot.Mvc.Templating.png" alt="Boot.Mvc.Templating.png" /></p>

<h1>Welcome to Boot.Mvc.Templating</h1>

<h3>This project is a part of the Boot Project. Boot.Mvc.Templating makes it easy to use Regions to place content, regulary by using a widget or module system, which also is built in.</h3>

<h3>Core functionality</h3>

<p>The templating system uses a modern layout from code where you can predefine templates for use in your system.</p>

<h2>Define a template</h2>

<ol>
<li>Call template manager by Html.BootLayout()</li>
<li>Add a Row</li>
<li>Add a Cell</li>
<li>Add Zone to Cell</li>
<li>Add Region to Zone</li>
<li>The AddZone statement renders all widget in this Zone.</li>
</ol>

<p>#</p>

<pre><code>@using (var b = Html.BootLayout().Begin(new Layout("_Startpage").CssClass("container")))
{
&lt;!--
    Template: Startpage
    A typical startpage of bootstrap layout.
--&gt;

//Header
using (var row = b.AddRow()){
    using (var c = row.AddCell(CellSpace.L, 12)) {
        c.AddZone(Region.Header);
    }
}

//Triple columns
using (var row = b.AddRow())
{
    using (var c = row.AddCell(CellSpace.L, 4)){
        c.AddZone(Region.TripelFirst);
    }
    using (var c = row.AddCell(CellSpace.L, 4)){
        c.AddZone(Region.TripelSecond);
    }
    using (var c = row.AddCell(CellSpace.L, 4)){
        c.AddZone(Region.TripelThird);
    }
}

//Footer
using (var row = b.AddRow()) {
    using (var c = row.AddCell(CellSpace.L, 12)) {
        c.AddZone(Region.Footer);
    }
}
}
</code></pre>

<h3>The output from above code:</h3>

<pre><code>&lt;div class="container"&gt;
  &lt;div class="row"&gt;
      &lt;div class="col-lg-12"&gt;
          &lt;div class="mywidget"&gt;Header&lt;/div&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
      &lt;div class="col-lg-4"&gt;
          &lt;div class="mywidget"&gt;TripelFirst&lt;/div&gt;&lt;!--Your widget, can be multiple inside region.--&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-4"&gt;
          &lt;div class="mywidget"&gt;TripelSecond&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-4"&gt;
          &lt;div class="mywidget"&gt;TripelThird&lt;/div&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
      &lt;div class="col-lg-12"&gt;
          &lt;div class="mywidget"&gt;Footer&lt;/div&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
